a { 
    text-decoration: none;
}

.menu_links{
    color: cornflowerblue;
    font-style: 16px;
    line-height: 20px;
}

.main_heading{
color: #222222;
font-size: 28px;
line-height: 36px;
font-weight: bold;
}

.plain_text{
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
color: #7D7987;
}

.subheading{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 80px;
color: coral;
}